body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
nav:after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  float: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0px;
  float: center;
  background-color: #f2f2f2;
}
nav a {
  display: block;
  color: #000;
}
.toggle {
  display: none;
}
#drop {
  display: none;
}
#list_items {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
  height: 10px;
  font-weight: bold;
 }
 .search_field {
  font-weight: bold;
  height: 20px;
 }

 /* ============Responsive===========*/

 @media all and (max-width : 768px) {
.toggle + a,
 .menu {
  display: none;
 }
.toggle {
  display: block;
  background-color: #254441;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
}
[id^=drop]:checked + ul {
  display: block;
}
nav ul li {
  display: block;
  width: 100%;
}
}